# excluimos archivos sin extension
*
!/**/
!*.*

# directorios
/.vscode
/testing
/things
/stdin_streamer_test
/malloc_test


# particulares
*.o
*.zip
*.txt

# cpplint
cpplint.py
execute.sh
filter_options



